{:lein         true
 :builds       {:app {:target     :browser
                      :output-dir "resources/public/js"
                      :asset-path "/js"
                      :modules    {:app {:entries [portfolio.core]}}
                      :devtools   {:after-load portfolio.core/mount-root}}}
 :dev-http     {3000 {:root    "resources/public"
                      :handler portfolio.handler/app}}}
